APP_URL=http://localhost:8000
SECRET_KEY='django-insecure-change-me'
DEBUG=False
ALLOWED_HOSTS=''
CORS_ALLOWED_ORIGINS=''
TIME_ZONE=UTC
APP_ENV=local
CONNECTION=sqlite
MARIADB_DATABASE=boilerplate
MARIADB_HOST=localhost
MARIADB_USER=root
MARIADB_PASSWORD=
MARIADB_PORT=3306
EMAIL_HOST=mailhog
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=1025
EMAIL_USE_TLS=False
MAILGUN_DOMAIN=
MAILGUN_SECRET=
MAIL_TO_ADDRESS=recipient@example.com
MAIL_FROM_ADDRESS="No Reply <noreply@python-boilerplate.com>"
MAIL_SUBJECT="Email Notification"

# Optional production hardening settings
# SECURE_SSL_REDIRECT=True
# SESSION_COOKIE_SECURE=True
# CSRF_COOKIE_SECURE=True
# SECURE_HSTS_SECONDS=31536000
# SECURE_HSTS_INCLUDE_SUBDOMAINS=True
# SECURE_HSTS_PRELOAD=True
# CSRF_TRUSTED_ORIGINS='https://localhost'

# Previous settings but for local development
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False
CSRF_TRUSTED_ORIGINS='http://localhost'

USE_X_FORWARDED_PROTO=False

SELENIUM_HEADLESS=False
